@media (min-width:768px){

body{
    background-color: #f4f4f7;
} 

.b-container{
    padding:0px 30px 0px 30px;
}

.b-text{
    font-size: 25px;
}

.b-title{
    font-size: 50px;
    line-height: 1.08;
    letter-spacing: -0.75px;
   }

   .b-subtitle{
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: 1.73px;
}

.b-menu{
    line-height: 2.67;
    min-width:300px;  
}

/* Header */

.b-header{
    background-image: url(../image/header/background/img-header980px.jpg);
    background-repeat: no-repeat;
    background-size: 1180px;
    background-position: center;
    position: relative;
    padding-top: 40px;
    z-index:1;
}

.b-header::after {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: -1;
}

.b-block-navigation{
    padding: 0px 30px 0px 30px;
    margin-bottom:92px;
}

.b-link--logo{
    margin-right:60px;
    font-size:0px;
}


.b-logo-box__logo{
    width:40px;
    height:40px;
}

.b-block-menu{
    display:flex;
    justify-content: space-between;
    flex-grow:1;
    align-items: center;
}

.b-menu__menu-list{
    display:flex;
}

.b-menu-list__item,
.b-language-list__item{
    display:inline-flex;
    margin-right:28px;
}

.b-menu-list__item:last-child,
.b-language-list__item:last-child{
    margin-right:0px;
}

.b-menu-list__item:nth-child(5){
    display:none;
}

.b-menu-language{
    min-width: 130px;
}

.b-menu-language__language-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.b-language-list__item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
}

.b-language-list__item:nth-child(2){
    height: 40px;
    width:40px;
    border: solid 1px #ffffff;
    border-radius: 50%;
}

.b-menu-language__link{
    font-family: Roboto-Light;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #f4f4f7;
   } 

   .b-link--burger{
    display:none;
}

.b-title-wrap{
    max-width:680px;
    margin-bottom: 30px;
}

.b-lead-wrapper{
    max-width:680px;
    padding-right:10px;
    box-sizing: border-box;
    margin:0px 0px 78px 0px;
}

.b-lead{
font-size: 20px;
line-height: 1.5;
}

.b-link--button{
    max-width:480px;
    border: solid 1px #ffffff;
    border-color: rgba(225,225,225,0.1);
}

.b-link--button,
.b-link--highlighted-button{
    padding:25px 50px 25px 100px;
    box-sizing: border-box;
}

.b-link__text{
    font-size: 20px;
    line-height: 1.5;
}

/* Main */

.b-features{
    padding-top:90px;
}

.b-text--indent{
    margin-bottom:85px;
}

.b-feature-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-right: -80px;
}

.b-feature-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 240px;
    margin:0 20px 40px 0;
}

.b-feature-box::before{
    display: none;
}
.b-feature-box:last-child::after{
    display: none;
}

.b-image-wrapper{
  width: 90px;
  height: 90px;
  margin-bottom: 30px;
  margin-right: 0;
  display:flex;
  align-items:center;
  justify-content: center;
}

.b-feature-image--ic-project {
 width: 50px;
 height: 52px; 
}

.b-feature-image--ic-hire {
width: 24px;
height: 59px; 
}

.b-feature-image--ic-digital {
width: 56px;
height: 43px; 
}

.b-image-wrapper--hire {
background-color: #f47e3d;
padding: 9px 16px 8px 20px;
}

.b-image-wrapper--digital {
background-color: #d04b9b;
padding: 10px 9px 15px;
}

.b-feature-box__image {
width: 50px;
height: 52px;  
}

.b-text--feature{
font-size:20px;
line-height: 1.5;
}

.b-advantage{
padding-top:30px;
padding-bottom: 117px;
}

.b-title-wrap--advantage{
margin-bottom: 75px;
}

.b-list{
columns: 2;
padding:0px;
column-gap:80px;
max-width: 700px;
}

.b-list__item{
font-size: 20px;
line-height: 1.5;
width:320px;
padding-left:60px;
display: block;
break-inside: avoid-column;
}

.b-list__item:last-child{
margin:0px;
}

.b-list__item::before{
width:30px;
top:14px;
left:0px;
}

.b-work{
padding-top:90px;
}

.b-container--work{
padding-bottom: 80px;
}

.b-article{
background-color: none;
position:relative;
}

.b-picture-box__picture{
max-height: 320px;
} 

.b-picture-box__picture--sticker{
max-height: 600px;
}

.b-article__text-box{
padding:40px;
box-sizing: border-box;
position: relative;
}

.b-box-article > .b-article:nth-child(odd) >.b-article__text-box::before{
content: "";
position: absolute;
width:1px;
height:100%;
background-color: black;
left:100%;
bottom:0px;
background-color: #c0c6c8;
}

.b-article__text-box--sticker {
 width:350px;
 height:350px;
 position:absolute;
 left:50%;
 bottom:20px;
 background-color: #f4f4f7;
 box-sizing: border-box;
}

.b-article__text-box--highlighted{
background-color: #64cae1;
transform-origin: 350px 0px;
transform:translate(-100%);
bottom:20px;
} 

.b-subtitle--sticker{
margin-bottom:40px;
}

.b-subtitle--highlighted{
color:#f4f4f7;
}

.b-text--highlighted{
color:#f4f4f7;
}

.b-box-article{
display:flex;
flex-wrap:wrap;
} 

.b-box-article> .b-article{
 width: 50%; 
}

.b-link--hidden{
 display:none;
} 

.b-contacts{
position: relative;
padding: 100px 0 40px 0;
}

.b-map-box{
overflow: hidden;
top: 180px;
padding-left: 200px;
max-width: 1180px;
left:0px;
z-index:0;
}

.b-map{
width:900px;
height:440px;
}

.b-block-information{
margin-bottom:90px;
}

.b-title--contacts{
margin-bottom:75px;
}

.b-text-wrap{
max-width: 380px;
z-index: 1;
position:relative;
}

.b-text--contacts{
font-size: 20px;
line-height: 1.5;
}

.b-social {
position: absolute;
left: 50%;
margin-left: 100px;
top: 119px;
}

.b-address{
display:flex;
}


.b-text--address{
font-size: 15px;
}

.b-adress-block{
flex-basis: 50%;
}

.b-adress-block:nth-child(2){
padding-left:100px;
box-sizing: border-box;
}

.b-subtitle--contacts {
font-size: 20px; 
line-height: 1.54;
letter-spacing: 1.73px;
margin-bottom: 20px;
}

.b-br-hidden{
    display:none;
}

.b-menu--footer{
    display:none;
}

/*Footer*/

.b-footer {
    display:flex;
    align-items: center;
   background-color: #000000;
   padding:0px;
}

.b-link--highlighted-button{
    /* min-width:480px; */
    width: calc((100%/2) - 10px); 
}

.b-container--footer{
    display:block;
    padding:0px;
}    

.b-copyright {
    font-size: 20px; 
    line-height: 1.5; 
    padding-left:110px;  
}
}