@media(min-width:1440px){

/* Общие свойства */
    .b-container{
        padding:0px 100px 0px 200px;
    }

/* Header */
    
    .b-block-navigation{
        padding: 0px 60px 0px 40px;
    }

    .b-link--logo{
        margin-right:120px;
    }

    .b-menu{
         min-width:565px; 
    } 

    .b-menu-list__item:nth-child(5){
        display:inline-flex;
    }

    .b-link--button,
    .b-link--highlighted-button{
        padding:25px 50px 25px 200px;
        max-width:580px;
        box-sizing: border-box;
    }

    /* Main */

    .b-main{
        padding-top:100px;
    }

    .b-list{
        column-gap:120px;
        max-width: 1000px;
    }

    .b-list__item{
        font-size: 20px;
        line-height: 1.5;
        width:380px;
        padding-left:0px;
    }
    
    .b-list__item::before{
        top:14px;
        left:-60px;
    }

    .b-container--work{
        padding-bottom: 90px;
    }

.b-article__text-box{
    padding:40px 140px 75px 0px;
    /* box-sizing: border-box;
    position: relative; */
}

.b-article__text-box--sticker {
    padding:40px;
}

    .b-box-article{
        padding:20px 0px;
        justify-content: space-between;
    }

    .b-box-article>.b-article{
        width: calc(50% - 10px);
    }
    .b-box-article > .b-article:nth-child(odd) >.b-article__text-box::before{
        display:none;
    }

    .b-adress-block:nth-child(2){
        padding-left:50px;
        box-sizing: border-box;
    }
    
    .b-link--highlighted-button{
        min-width:580px;
    }
    .b-container--footer{
        padding:0px;
    }
 
}
