
@media (max-width:767px){
   /* Общие свойства */
    .b-container{
        padding:0px 30px;
    }

    .b-text{
        font-size: 15px;
    }

    .b-title{
        font-size:25px;
        line-height: 1.2;
        letter-spacing: -0.31px;
    }

    .b-subtitle{
        font-size: 10px; 
        letter-spacing: 1.33px;
        margin-bottom: 20px;
    }

/* Header */

.b-header{
    background-color:#2d2d42;
    padding-top:30px
}

.b-block-navigation{
    padding: 0px 30px;
    margin-bottom:40px;
}

.b-logo-box__logo{
    width: 139px;
    height: 30px;
}

.b-block-menu{
    display:none;
}
    
.b-title-wrap{
    margin-bottom: 20px;
}

.b-lead-wrapper{
    margin:0px 0px 100px 0px;
}

.b-lead{
    font-size: 15px;
    line-height: 1.33;
}

.b-link--button{
    padding:0 30px 30px 30px;
}

.b-link__text{ 
    font-size: 15px; 
     line-height: 1.33;
} 

/* Main */

.b-features{
    padding-top:30px;
}

.b-text--indent{
    margin-bottom:30px;
}

.b-feature-box{
    padding:30px 0px;
    position:relative;  
}

.b-feature-box::before{
    content: "";
    display: block;
    position: absolute;
    width: 100vw;
    height: 1px;
    left: -30px;
    top: 0px;
    background-color: #c0c6c8;
    opacity: 0.2;
}

.b-feature-box:last-child::after {
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    bottom: 0px;
    width: 100vw;
    left: -30px;
    background-color: #c0c6c8;
    opacity: 0.2;
  }

  .b-advantage{
    padding-top:30px;
    padding-bottom: 40px;
}

.b-title-wrap--advantage{
    margin-bottom: 30px;
}

.b-list__item{
    font-size: 15px;    
    line-height: 1.33;
    padding-left:50px;
}


.b-list__item:last-child{
    margin:0px;
}

.b-list__item::before{
    top:9px;
    left:0px;
    width:30px;
}

.b-link--highlighted-button{
    padding: 20px 30px; 
}

.b-work{
    padding-top:30px;
}

.b-container--work{
    padding-bottom: 30px;
}

.b-article{
    background-color: #ffffff;
}

.b-article--hidden{
    display:none;
}

.b-article__text-box{
    padding:30px;
}

.b-contacts {
    padding: 30px 0 40px 0;
  }

.b-block-information{
    margin-bottom:20px;
}

.b-title--contacts{
    margin-bottom:20px;
}

  .b-subtitle--contacts {
     font-size: 20px; 
    line-height: 1.5;
    letter-spacing: normal;
  }

  /*Footer*/

  .b-copyright {
     font-size: 15px; 
     line-height: 1.33; 
  }

  .b-menu--footer{
    line-height: 2.67;
    padding-top:20px;
    margin-bottom:18px;
  }

 
}