
/* Общие свойства */
body{
    display:flex;
   align-items: center;
  flex-direction: column; 
} 

.b-site{
    max-width:1180px;
    overflow-x:hidden;
}

.b-text{
    font-family:Roboto-Light;
    font-weight: 300;
    color:#2d2d42;
    margin:0px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
}

.b-title{
    font-family:Roboto-Black;
    font-weight: 900;
    font-style: normal;
    margin:0px;
    color:#f4f4f7;
}

.b-subtitle{
    font-family: Roboto-Black;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    color: #2d2d42;
    text-transform: uppercase;
    margin:0px;
}

.b-menu {
    color: #f4f4f7;
    font-family: Roboto-Light;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
  }

  .b-link{
    text-decoration: none;
}
/* Header */

.b-block-navigation{
    display:flex;
    align-items: center;
    justify-content: space-between; 
}

.b-link__logo-box{
    overflow: hidden; 
}


.b-menu__menu-list,
.b-menu-language__language-list{
    padding: 0px;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.b-menu-language__link,
.b-menu__link{
    text-decoration: none;
    color: inherit;
}

.b-menu__link:hover,
.b-menu-language__link:hover {
    color:#0000ff;
}
.b-menu__link:active,
.b-menu-language__link:active {
    color:#1abdafad;
}

/* .b-menu__link:visited,
.b-menu-language__link:visited {
    color:#40075aad;
} */

.b-lead{
    font-family:Roboto-Light;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color:#f4f4f7;
    margin:0px; 
    color:#f4f4f7;
}

.b-link--button,
.b-link--highlighted-button{
    display:block;
}

.b-inner-wrapper{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.b-inner-wrapper::after{
    content:"";
    background:url(../image/ic-next.svg);
    display:block;
    width:30px;
    height:30px;
}

 .b-link__text{ 
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family:Roboto-Light;
    color:#f4f4f7;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
} 

.b-link__icon{
    display:block;
} 

/* Main */

.b-benefits{
    background-color: #ffffff;
}

.b-title--features{
    color:#2d2d42;
}

.b-feature-box{
    display:flex;
    align-items: center;
}

.b-image-wrapper{
    width: 50px;
    height: 50px;
    border:solid 1px #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right:20px; 
}
.b-image-wrapper--ic-project{
    background-color: #63c9e0;
    padding: 11px 11px 9px 11px;
    
}

.b-image-wrapper--ic-hire{
    background-color: #f47e3d;
    padding: 9px 16px 8px 20px;
}

.b-image-wrapper--ic-digital{
    background-color:#d04b9b;
    padding: 10px 9px 15px;
}

.b-text--feature{
  font-family: Roboto-Bold;
}

.b-title--advantage{
    color:#c0c6c8;
}

.b-list{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.b-list__item{
    position:relative;
    font-family: Roboto-Light;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color:  #2d2d42;
    word-wrap: break-word;
    margin-bottom:20px;
}

.b-list__item::before{
    content:"";
    display:block;
    height: 1px;
    width: 30px;
    background-color: #64cae1;
    position: absolute;
}

.b-link--highlighted-button{
    background-color: #64cae1;
}

.b-work{
    background-color: #f4f4f7;
}

.b-title--work{
    color: #2d2d42;
}

.b-article{
    font-size: 0px;
}

.b-picture-box{
    overflow: hidden;
}

.b-picture-box__picture{
    object-fit: cover;
    width:100%;
}

.b-contacts {
    background-color: #000000;
    padding: 30px 0 20px 0;
    position: relative;
    overflow: hidden; 
  }

  .b-map-box {
    position: absolute;
    top: 215px;
    right: 0;
    left: -80px;
    display: flex;
    justify-content: center
  }
  
  .b-map {
    z-index: 0;
    width: 677px;
    max-width: none;
    height: 330px;
  }

    .b-text--address,
    .b-text--contacts{
        color:#f4f4f7;
    }

  .b-social {
    z-index: 1;
    margin-bottom: 220px;
    display: flex;
  }
  
  .b-social__link {
    display: block;
    text-decoration: none;
    margin-right: 25px;
    width: 30px;
    height: 30px;
  }
  
  .b-social__icon {
    margin: 0;
  }
  
  .b-social__link:last-child {
    margin-right: 0;
  }

  .b-address {
    position: relative;
    z-index: 1;
  }

  .b-adress-block:first-child{
    margin-bottom: 30px;
}

  .b-subtitle--contacts {
    font-family: Roboto-Bold;
    font-weight: bold;
    text-transform: none;
    color: #f4f4f7;
  }

  .b-text--address{
      line-height: 1.67;
  }

 .b-link--email {
    color: #64cae1;
  }
  
  /*Footer*/
  
  .b-footer {
    background-color: #2d2d42;
    padding: 0px 0 30px;
  }
  
  .b-copyright {
    color: #f4f4f7;
    margin: 0;
    opacity: 0.5;
    font-family: Roboto-Light;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    
  }

 
  